* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
}

header {
    position: absolute;
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    padding: 0 2rem;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

.toggle {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 550px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.img {
    margin-top: 50px;
}

.btn {
    border: 0;
    background: red;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.btn.btn-secondary {
    background: transparent;
    border: 2px solid red;
    color: #fff;
}

@media all and (max-width: 769px) {* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
}

header {
    position: absolute;
    width: 100%;
    height: 8vh;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    padding: 0 2rem;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

.toggle {
    display: none;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 550px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.btn {
    border: 0;
    background: red;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.btn.btn-secondary {
    background: transparent;
    border: 2px solid red;
    color: #fff;
}


.hero {
    height: 100vh;
    background: url('img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media all and (min-width: 768px) {

    header {
        background: transparent;
    }

    .toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }

    .logo {

        position: relative;
        z-index: 20;
    }

    .ouvrir {
        display: block;
    }

    .fermer {
        display: none;
    }

    .open .ouvrir {
        display: none;
    }

    .open .fermer {
        display: block;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #000;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
    }

    .menu li a {
        font-size: 2rem;
    }

    .btn {
        font-size: 2rem;
    }

    .open .menu {
        transform: translateX(0);
    }
}

    .toggle {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        z-index: 20;
    }

    .logo {
        position: relative;
        z-index: 20;
    }

    .ouvrir {
        display: block;
    }

    .fermer {
        display: none;
    }

    .open .ouvrir {
        display: none;
    }

    .open .fermer {
        display: block;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #C8BFBF;
        flex-direction: column;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(-100%);
        transition: transform 1s;
    }

    .menu li a {
        font-size: 2rem;
    }

    .btn {
        font-size: 2rem;
    }

    .open .menu {
        transform: translateX(0);
    }
}

/* contact form */


@import url('https://fonts.googleapis.com/css?family=Coda+Caption:800|Source+Sans+Pro&display=swap');

:root {
  --primary-color: #000000;
  --secondary-color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

ul {
  list-style: none;
}

#heading {
  background: var(--primary-color);
  height: 20rem;
}

.heading-wrap {
  color: #fff;
  padding: 3rem 0;
  text-align: center;
  max-width: 20rem;
  margin: 20px;
}

.heading-wrap h1 {
  
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-family: 'Coda Caption', sans-serif;

}

.heading-wrap p {
  padding-top: 10px;
  position: relative;
  font-size: 1rem;
}

.heading-wrap p::before {
  content: '';
  position: absolute;
  top: -.7rem;
  left: 50%;
  transform: translate(-50%);
  width: 2.7rem;
  height: 7px;
  background: var(--secondary-color);
}

.form-box {
  margin: -7rem 2rem 5rem 2rem;
  box-shadow: 0 0 5px 0 rgba(49, 61, 73, 0.7);
  border-radius: 5px;
}

/* Form Info */
.form-info {
  background: var(--secondary-color);
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.form-info h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form-info ul li {
  margin-top: .5rem;
  display: flex;
  align-items: center;
}

.form-info ul li i {
  background: #fff;
  color: var(--secondary-color);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-right: .5rem;
}

/* Form input */
.form-input {
  padding: 0 2rem;
  background: #fff;
}

.form-input h3 {
  margin: 1.5rem 0 2rem 0;
  font-size: 1.3rem;
  color: #333;
}

.form-input form {
  display: grid;
  grid-gap: 1rem;;
  grid-template-columns: repeat(2, 1fr);
}

.form-input label {
  font-weight: bold;
  color: #222222;
  line-height: 1.6;
  opacity: 0.8;
}

.form-input input {
  height: 2.5rem;
  text-indent: 1em;
  border: .5px solid black;
}

.form-input form input, .form-input form textarea {
  width: 100%;
}

.form-input form textarea {
  height: 6rem;
  padding: 1em;
  border: .5px solid black;
}

.form-input form .full {
  grid-column: 1 / 3;
}

.form-input form button {
  width: 100%;
  margin: 1rem 0 2rem 0;
  height: 2.5rem;
  background: var(--secondary-color);
  border: none;
  outline: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease
  ;
}

.form-input form button:hover {
  background: black;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

/* LARGE SCREEN */
@media (min-width: 768px) {
  #heading {
    height: 25rem;
  }

  .heading-wrap h1 {
    font-size: 2.5rem;
  }

  .form-box {
    margin-top: -10rem;
  }

  .form-box-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
  }
  
  .form-input {
    grid-row: 1;
    grid-column: 1 / 3;
  }

  .form-info {
    grid-column: 3 / 4;
  }

  .form-info ul {
    margin-top: 4rem;
  }

  .form-info ul li {
    margin-top: 2rem;
  }

}