.adhesion{
    margin-top: 30px;
    width: 80vw;

}
.containertext{
    display: flex;
    margin-top: 100px;
    text-align: center;
    flex-direction: column;

}
.containeradhes{
    display: flex;
    justify-content: space-around;


}

div{
    margin-top: 30px;
}